@import "tailwindcss";

html{
    scroll-behavior:smooth;
}

body{
    margin:0;
    background:#0F172A;
    color:white;
    font-family:Inter,sans-serif;
}

@keyframes floating{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-12px);
}

100%{
transform:translateY(0px);
}

}

.float-animation{

animation:floating 4s ease-in-out infinite;

}